<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>569711690365-njs97ud70j8alc69n5kvm6smdd3dcpto.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.569711690365-njs97ud70j8alc69n5kvm6smdd3dcpto</string>
	<key>API_KEY</key>
	<string>AIzaSyD7p6lS1cvFRWoa_4Sz6bEYjzNBX_l-ubE</string>
	<key>GCM_SENDER_ID</key>
	<string>569711690365</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.piutter.br2.Piutter</string>
	<key>PROJECT_ID</key>
	<string>piutter</string>
	<key>STORAGE_BUCKET</key>
	<string>piutter.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:569711690365:ios:a858a2269b53fec12ea714</string>
</dict>
</plist>